* {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

body {
    background: #31343A;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 1000;
    background-image: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

form {
    display: block;
}

#search {
    display: inline-block;
    width: 100%;
    height: 35px;
    border-radius: 30px;
    text-indent: 1rem;
}

input[type="submit"] {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 8%;
    height: 35px;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
    position: absolute;
    right: -1px;
}

li {
    color: #FFF;
}