{% extends "layout.html" %}

{% block content %}

    <h1>Create a room</h1>
    <form action="", method="POST">
        {% from "form_helper.html" import displayField %}
        {{ displayField(form.username, "Username", autocomplete="off", autofocus=true) }}
        {{ displayField(form.room_name, "Room name") }}
        {{ displayField(form.password, "Password (optional)") }}
        <div>
            {{ form.submit_button }}
        </div>
        {{ form.csrf_token }}
    </form>

{% endblock %}