{% extends "layout.html" %}

{% block content %}

    <h1>Create a room</h1>
    <form action="", method="POST">
        {% from "form_helper.html" import displayField %}
        {{ displayField(form.roomname, "Room name") }}
        {{ displayField(form.password, "Password (optional)") }}
        <div onClick="createRoom()">
            {{ form.submit_button }}
        </div>
        {{ form.csrf_token }}
    </form>
    <script>

        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        function createRoom() {
            socket.emit('create');
        }

    </script>

{% endblock %}