<!DOCTYPE html>
<html>
    <head>
        <title>The Movie Game</title>
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='config.js') }}"></script>
        <script src="{{ url_for('static', filename='themoviedb.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    </head>
    <body>
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo"/>
        <div id="timer"></div>
        <form id="search_form">
            <input type="text" id="searchbar" placeholder="search for an actor or movie..." disabled>
            <input type="submit" id="searchbtn" onClick="getQuery()" disabled>
            <button type='submit' id="vetobtn" onClick="veto()" hidden disabled>Veto</button>
            <button type='submit' id="challengebtn" onClick="challenge()" hidden disabled>Challenge</button>
        </form>
        <div id="results-container"></div>
        <div id='game-container'></div>
        <div id="avatar-container"></div>
        <script type="text/javascript">
            const room = `{{ room }}`
            const username = `{{ username }}`;
            const avatar = "{{ url_for('static', filename='avatar.png') }}";
        </script>
        <script src="{{ url_for('static', filename='game.js') }}"></script>
    </body>
</html>