<head>
    <title>The Movie Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='themoviedb.js') }}"></script>
    <script type=text/javascript>
        $(function() {
          $('#submit_search').bind('click', function() {
            $.getJSON('/round_start', {
              search: $('input#search').val(),
            }, function(data) {
              $("#result").text(data.result);
            });
            return false;
          });
        });

        function successCB(data) {
          console.log("Success callback: " + data);
        };
                
        function errorCB(data) {
          console.log("Error callback: " + data);
        };

        console.log(theMovieDb.search.getKeyword({'query': "hoffman"}, successCB, errorCB))
    </script>
</head>
<body>
    <h1>THE MOVIE GAME</h1>
    <form>
        <input type="text" id="search" placeholder="search for an actor or movie...">
        <input type="submit" id="submit_search" value="submit">
    </form>
    <p id="result"></p>
</body>