<head>
    <title>The Movie Game</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
	  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='themoviedb.js') }}"></script>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" class="logo"/>
    <form id="search_form">
        <input type="text" id="search" placeholder="search for an actor or movie...">
        <input type="submit" onClick="getQuery()">
    </form>
    <div id="results-container"></div>
    <div id='game-container'></div>
    <script>

      var round = [];
      var start = '';

      var form = document.getElementById("search_form");
      function handleForm(event) {
        event.preventDefault();
      }
      form.addEventListener("submit", handleForm);

      const genres = [16, 99, 10402, 10770];
      var results_container = document.getElementById("results-container");
      var results = document.createElement("ul");
      results.setAttribute("id", "results");

      function successCB(data) {
        data = JSON.parse(data);
        for (var i = 0; i < data.results.length; i++) {
          if (data.results[i].media_type === "movie" && data.results[i].genre_ids.length && !data.results[i].genre_ids.some(r => genres.includes(r))) {
            var li = document.createElement('li');
            var a = document.createElement('a')
            a.innerHTML = data.results[i].title + " (movie)";
            a.setAttribute('value', data.results[i].id);
            a.setAttribute('href', "#");
            a.setAttribute('onClick', 'selectResult(this)');
            li.appendChild(a);
            results.appendChild(li);
          } else if (data.results[i].media_type === "person" && data.results[i].known_for_department === "Acting") {
            var li = document.createElement('li');
            var a = document.createElement('a')
            a.innerHTML = data.results[i].name + " (actor)";
            a.setAttribute('value', data.results[i].id);
            a.setAttribute('href', "#");
            a.setAttribute('onClick', 'selectResult(this)');
            li.appendChild(a);
            results.appendChild(li);
          }
        }
        results_container.appendChild(results)
      };
              
      function errorCB(data) {
        console.log("Error callback: " + data);
      };

      function getQuery() {
        results.innerHTML = '';
        var q = document.getElementById("search").value;
        theMovieDb.search.getMulti({'query': q}, successCB, errorCB);
      };

      var game_container = document.getElementById("game-container");
      var game = document.createElement("ul");
      game.setAttribute("id", "game");

      function checkCast(cast, actor) {
        if (cast.includes(actor)) {
          return true;
        } else {
          return false;
        }
      };

      function checkFilms(films, actor) {
        if (films.includes(actor)) {
          return true;
        } else {
          return false;
        }
      };

      function getMovie(data) {
        data = JSON.parse(data);
        cast = [];
        for (var i = 0; i < data.cast.length; i++) {
          cast.push(data.cast.name[i]);
        } 
        return cast;
      };

      function getStarring(data) {
        data = JSON.parse(data);
        films = [];
        for (var i = 0; i < data.cast.length; i++) {
          films.push(data.cast.title[i]);
        }
        return films;
      };

      function selectResult(item) {
        var id = item.getAttribute('value');
        round.push(item.innerHTML);
        results.innerHTML = '';
        for (var i = 0; i < round.length; i++) {
          var li = document.createElement("li");
          li.innerHTML = round[i];
          game.appendChild(li);
          game_container.appendChild(game);
        }
        if (start === "") {
          if (item.innerHTML.split(' ').pop() === "(movie)") {
            start = 'movie';
          } else {
            start = 'actor';
          }
        } else if (start === "movie") {
          films = theMovieDb.people.getMovieCredits({"id": id}, getStarring, errorCB);
          if (checkFilms(films, round.pop())) {
            alert('correct!');
          } else {
            alert('sorry');
          }
        } else {
          cast = theMovieDb.movies.getCredits({"id": id}, getMovie, errorCB);
          if (checkCast(cast, round.pop())) {
            alert('correct!');
          } else {
            alert('sorry');
          }
        }
      };

    </script>
</body>