{% extends "layout.html" %}

{% block app_content %}

    <div class="table-wrapper">
        <table>
            <thead>
                <th>Join</th>
                <th>Room Name</th>
                <th>Players</th>
                <th>Status</th>
            </thead>
            <tbody id='lobby'></tbody>
        </table>
    </div>
    <script type="text/javascript">
        const data = {{ data | tojson }}
    </script>
    <script src="{{ url_for('static', filename='lobby.js') }}"></script>

{% endblock %}