<head>
    <title>The Movie Game</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            Category: {{ messages[0][0] }}
            {{ messages[0][1]}}
        {% endif %}
    {% endwith %}

    {% from "form_helper.html" import displayField %}
    <h2>Login</h2>
    <p>Enter your username and password</p>
    <form action="{{ url_for('login') }}" method='POST'>
        {{ displayField(form.username, "Username", autocomplete="off", autofocus=true)}}
        {{ displayField(form.password, "Password") }}
        <div>
            {{ form.submit_button }}
        </div>
        {{ form.csrf_token }}
    </form>
</body>