<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('#submit_search').bind('click', function() {
            $.getJSON('/round_start', {
              search: $('input#search').val(),
            }, function(data) {
              $("#result").text(data.result);
            });
            return false;
          });
        });
    </script>
</head>
<body>
    <h1>THE MOVIE GAME</h1>
    <form>
        <input type="text" id="search" placeholder="search for an actor or movie...">
        <input type="submit" id="submit_search" value="search">
    </form>
    <p id="result"></p>
</body>