{% extends "layout.html" %}

{% block content %}

    <h1>Get started</h1>

    <form action="{{ url_for('register') }}", method="POST">
        {% from "form_helper.html" import displayField %}
        {{ displayField(form.username, "Username", autocomplete="off", autofocus=true) }}
        {{ displayField(form.email, "Email") }}
        {{ displayField(form.password, "Password") }}
        {{ displayField(form.confirm_pswd, "Retype Password") }}
        <div>
            {{ form.submit_button }}
        </div>
        {{ form.csrf_token }}
    </form>

{% endblock %}